@use  '../abstracts/mixins' as *;

.container {
  margin: 0 auto;
  max-width: 100%;
  width: 1512px;
  padding: 0 124px;
}

.row {
  display: flex;
}

.justify{
  &-between { 
    justify-content: space-between;
  }
}

.align {
  &-center {
    align-items: center;
  }
}

@include generate-spacing-classes(gap, 6);