:root {
  --primary-color: #081400;
  --secondary-color: #FFFFFF;
  --accent-color: #FFEA00;
  --page-color: #F2F7FFB2;
  --header-color: #FFFFFF;
  --table-body-color: #FFFFFF;
  --table-body-hover-color: #f8f8f8;
  --table-header-color: #081400;
  --table-border-color: #081400;

  --header-height: 90px;
  --input-border-radius: 4px;
}